.humburger {
  display: flex;
  flex-direction: column;
  width: 31px;height: 31px;
  position: absolute;
  background: red;
}

.humburger {
  padding-top: 10%;
}

.line {
  width: 100%;
  border-top: 3px solid white;
  margin-bottom: 25%;
}

.hide {
  display: none;
  opacity: 0;
}

.cross {
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
}

.cross2 {
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
}
